* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("img/loginbg.jpg");
  background-size: cover;
}

.background {
  z-index: -1;
}

h2 {
  font-family: "poppins", sans-serif;
  color: #4282d4;
}

.container {
  z-index: 2;
  text-align: center;
  padding: 80px;
  background: white;
  width: 500px;
  max-width: 500px;
  height: 550px;
  max-height: 550px;
  box-shadow: 0 0 50px grey;
}

.container-two {
  z-index: 2;
  text-align: center;
  padding: 80px;
  background: white;
  width: 500px;
  max-width: 500px;
  height: 550px;
  max-height: 550px;
  box-shadow: 0 0 50px grey;
  opacity: 0;
  display: none;
}

.pass {
  margin-top: 10px;
}

.email,
.pass {
  padding: 20px 50px;
  outline: none;
  border: none;
  background: #d9d9d9;
  font-size: 15px;
  font-family: "Nanum Gothic", sans-serif;
}

.email:hover {
  background: #cadffa;
  transition: 0.5s;
}

.pass:hover {
  background: #cadffa;
  transition: 0.5s;
}

.submit-btn {
  padding: 10px 102px;
  outline: none;
  font-size: 15px;
  color: white;
  background: #4282d4;
  border: none;
  cursor: pointer;
}

.submit-btn:hover {
  background: #4a91ed;
  transition: 0.5s;
}

.forgot {
  font-family: "Nanum Gothic", sans-serif;
  color: grey;
}

.form-message {
  color: green;
  display: none;
  padding-bottom: 10px;
}

.form-error {
  color: red;
  display: none;
  padding-bottom: 10px;
}

a {
  text-decoration: none;
}

#createAccount {
  color: blue;
  cursor: pointer;
  opacity: 0.7;
}

#createAccount:hover {
  opacity: 1;
  transition: 0.5s;
}

.new-pass,
.rep-pass,
.new-user {
  padding: 20px 50px;
  outline: none;
  border: none;
  background: #d9d9d9;
  font-size: 15px;
  margin-bottom: 10px;
  font-family: "Nanum Gothic", sans-serif;
}

.rep-pass {
  margin-top: -15px;
}

.Reg-btn {
  padding: 10px 102px;
  outline: none;
  font-size: 15px;
  color: white;
  background: #4282d4;
  border: none;
  cursor: pointer;
}
